
nav {
	clear: both;
    text-align: right;

}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	overflow: hidden;
	border-radius: 15px;
	background-color: rgba(206, 206, 206, 0.603);


	
}

nav li {
	display: inline-block;
	
}

nav li a {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 14px 30px;
	font-size: 20px;
	color: #36332b;
    border-radius: 15px;
    

}

nav li a:hover {
	background-color: rgba(24, 24, 23, 0.849);
	color:#5c5c5c
}